<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="../static/logo.css" >
    <title>WTW Home</title>
</head>
<body class="bg-light vh-100">
    <div class="w-100" style="width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 scrolling-navbar">
            <a href="index.html" class="navbar-brand" >
                <img src="../static/hanger.jpg" class="logo-class rounded-circle z-depth-2 bg-dark"  alt="100x100" />
                <span class="lead ml-1"> WhatToWear</span>
            </a>
            <button class="navbar-toggler mt-1" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-link">
                        <a class="nav-link mr-2" href="index.html">
                            <i class = 'fas fa-shopping-cart'></i> Cart
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link mr-2" href="index.html">
                            <i class = 'fas fa-home'></i> Home
                        </a>
                    </li>
                    <li class="nav-link">
                        <a class="nav-link mr-2" href="signup.html">
                            <i class='fas fa-edit'></i> Sign Up
                        </a>
                    </li>
                    <li class="nav-link waves-effect">
                        <a class="nav-link" href="signin.html">
                            <i class='fas fa-sign-in-alt'></i> Sign In
                        </a>
                    </li>
                   
                </ul>
            </div>
        </nav>
        <!-- Carousal Wrapper -->
        <div class='carousel slide carousel-fade' id="carousel-example-1z" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
            </ol>
            <!-- Indicators -->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    <div class="view pt-5" style="background-image: url('../static/jeans.jpg'); background-repeat: no-repeat; background-size:cover; max-width: 100%; max-height: 100%; opacity: 0.9;">
                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
                         <!-- Content -->
                         <div class="text-center text-black mx-5 mt-3 wow fadeIn">
                            <h1 class="mb-4 display-4">
                                <strong>Shop your favourite trendy styles</strong>
                            </h1>
        
                            <p class="lead mt-2">
                                <strong>Some content here</strong>
                            </p>
        
                            <p class="mb-5 pb-5 mt-4 lead d-none d-md-block">
                                <strong>Clothing something something</strong>
                            </p>
        
    
                        </div>
                        <!-- Content -->
                        </div>
                        <!-- Mask & flexbox options-->
                    </div>
                </div>
                <!--/First slide-->
        
                <!--Second slide-->
                <div class="carousel-item">
                    <div class="view pt-5" style="background-image: url('../static/gray-Cap.jpg'); background-repeat: no-repeat; background-size: cover;  ">
        
                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
        
                         <!-- Content -->
                         <div class="text-center text-light mx-5 mt-3 wow fadeIn">
                            <h1 class="mb-4 display-4">
                                <strong>Shop your favourite trendy styles</strong>
                            </h1>
        
                            <p class="lead mt-2">
                                <strong>Some content here</strong>
                            </p>
        
                            <p class="mb-5 pb-5 mt-4 lead d-none d-md-block">
                                <strong>Clothing something something</strong>
                            </p>
        
    
                        </div>
                        <!-- Content -->
        
                        </div>
                        <!-- Mask & flexbox options-->
        
                    </div>
                </div>
                <!--/Second slide-->
        
                <!--Third slide-->
                <div class="carousel-item">
                    <div class="view pt-5" style="background-image: url('../static/gray-hanger.jpg'); background-repeat: no-repeat; background-size: cover; opacity: 0.9;">
        
                        <!-- Mask & flexbox options-->
                        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
        
                            <!-- Content -->
                            <div class="text-center text-white mx-5 mt-3 wow fadeIn">
                                <h1 class="mb-4 display-4">
                                    <strong>Shop your favourite trendy styles</strong>
                                </h1>
            
                                <p class="lead mt-2">
                                    <strong>Some content here</strong>
                                </p>
            
                                <p class="mb-5 pb-5 mt-4 lead d-none d-md-block">
                                    <strong>Clothing something something</strong>
                                </p>
            
        
                            </div>
                            <!-- Content -->
        
                        </div>
                        <!-- Mask & flexbox options-->
        
                    </div>
                </div>
                <!--/Third slide-->
            </div>
            <!--/.Slides-->

        </div>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <div>
                <ul>
                    <li>
                        <div>
                            <img src="">
                        </div>
                    </li>
                    <li>Product 2</li>
                    
                </ul>
            </div>
        </main>
        <footer class="page-footer font-small blue pt-1 fixed-bottom">
            <div class="footer-copyright text-center py-3">
                <p class="lead"><b>&copy; 2020 WhatToWear</b></p>
            </div>
        </footer>
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>
</html>